spring:
  profiles: prod
  datasource:
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 30000
      max-lifetime: 1800000

logging:
  level:
    root: INFO
    org.springframework.jdbc.core.JdbcTemplate: WARN
    com.marketwise: INFO
